
*{
box-sizing: border-box;
margin: 0;
}

html{
  background: #E5ECE9;
  color: #171614;
}
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

h1, p{
  margin: 1rem 0rem;
}
a{
  color: #F90093;
}

a:hover{
  color: #C60F7B;
}


